# composer
/composer.json
/controller/vendor/**
# template cache
/view/cache/**
# params
.env
.htaccess
# backup
*.bak
# external resources
/resources/**
/controller/public_html/css/external
/controller/public_html/js/external