<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Utopia API wrappers</h3>
            <p>
				<a class="uk-button uk-button-small btn-element" href="https://github.com/Sagleft/utopialib-php" target="_blank" rel="nofollow" style="width: 50px;">PHP</a>
				<a class="uk-button uk-button-small btn-element" href="https://github.com/Sagleft/utopialib-csharp" target="_blank" rel="nofollow" style="width: 50px;">C#</a>
				<a class="uk-button uk-button-small btn-element" href="https://github.com/Oocrop/utopia-nodejs-api" target="_blank" rel="nofollow">NodeJS</a>
				<a class="uk-button uk-button-small btn-element" href="https://github.com/Dest0re/PytopiaAPI" target="_blank" rel="nofollow">Python</a>
			</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title">Sites</h3>
            <p>
				<a class="uk-button uk-button-small btn-element" href="http://explorer.idyll.info" target="_blank" rel="nofollow">Explorer</a>
				<a class="uk-button uk-button-small btn-element" href="http://idyll.info" target="_blank" rel="nofollow">Our team</a>
			</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title">Services</h3>
            <p>
				<a class="uk-button uk-button-small btn-element" href="http://api.idyll.info/api/help" target="_blank" rel="nofollow">RestAPI</a>
			</p>
        </div>
    </div>
</div>