<!DOCTYPE html>
<html lang="ru">
	{% include 'parts/head.html' %}
	<body>
		<div class="uk-container uk-container-small" id="requestVoucher">
			<div class="uk-text-center uk-padding">
				<h3 class="small-caps">Open a crypto case for free<br/>and get a cryptocurrency voucher!</h3>

				<img src="img/case2.jpg" class="uk-display-inline-block" /><br/>

				<a class="uk-button uk-button-primary uk-border-rounded" id="claimBonusBtn" href="#">Open a crypto case!</a><br/>
				<span>available {{ page.vouchers.available }} pcs</span>

				<hr class="uk-divider-icon"/>

				<h4>How it works?</h4>
				<p>We are happy to sponsor our users.<br/>Every new user is eligible to receive a voucher for Crypton!</p>
			</div>
		</div>

		<div class="uk-container uk-container-small" style="display: none;" id="errorMessage">
			<div class="uk-text-center uk-padding">
				<img src="img/triumphant.png" />

				<h3>Hmm..</h3>
				<p id="errorInfo"></p>
				
			</div>
		</div>

		<div class="uk-container uk-container-small" style="display: none;" id="voucherResultWrap">
			<div class="uk-text-center uk-padding">
				<h3>Your voucher code</h3>
				<center>
					<div class="gradient" id="voucherResult">
						<input class="uk-input uk-form-width-medium uk-form-large input-stylized" type="text" placeholder="Large" aria-label="Large" value="UTP-TEST" id="voucherCode"/>
						<button class="btn-copy" data-clipboard-target="#voucherCode">
							<span uk-icon="icon: copy; ratio: 1.5"></span>
						</button>
					</div>
				</center>
				
			</div>

			<div class="uk-container uk-container-small">
				<div class="uk-text-center uk-padding">
					<h3 class="small-caps">How do I find out my voucher balance<br/>and activate it?</h3>
					<p>Just use Utopia messenger for your platform</p>

					<a href="https://update.u.is/downloads/linux/utopia-latest.amd64.deb" class="uk-button uk-button-default uk-padding-small btn-icon">
						<img src="https://img.icons8.com/ios-filled/50/null/linux.png"/>
					</a>

					<a href="https://update.u.is/downloads/windows/latest/UtopiaX64.exe" class="uk-button uk-button-default uk-padding-small btn-icon">
						<img src="https://img.icons8.com/ios-filled/50/null/windows-10.png"/>
					</a>

					<a href="https://update.u.is/downloads/macos/utopia-latest.dmg" class="uk-button uk-button-default uk-padding-small btn-icon">
						<img src="https://img.icons8.com/ios-filled/50/null/mac-os.png"/>
					</a>

				</div>
			</div>
		</div>

		<canvas class="confetti" id="canvas"></canvas>

		{% include 'parts/footer.html' %}
	</body>
</html>
